body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.house {
    width: 500px;
    height: 421px;
    border: 5px solid lightgray;
    background: white;
    position: relative;
}

.window {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    left: 213px;
    top: 94px;
}

.roof {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-bottom: 172px solid sienna;
    left: 10px;
    top: 21px;
}

.wall {
    position: absolute;
    width: 370px;
    height: 200px;
    border: 2px solid white;
    background: sienna;
    left: 65px;
    top: 193px;
}

.door {
    position: absolute;
    width: 86px;
    height: 117px;
    background: white;
    border: 1px solid black;
    left: 207px;
    top: 279px;
}

.door-knob {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    background: black;
    left: 217px;
    top: 328px;
}

.pallet{
    background-color: #B888F8;
}
.viridian{
    background-color: #7FF71F;
}
.pewter{
    background-color: #909078;
}
.cerulean{
    background-color: #2840F8;
}
.vermillion{
    background-color: #F89800;
}
.lavender{
    background-color: #C820F8;
}
.celadon{
    background-color: #28F828;
}
.saffron{
    background-color: #F8F800;
}
.fuschia{
    background-color: #F87878;
}
.cinnabar{
    background-color: #F84040;
}
.bai3{
    height: 600px;
}
.bai3 span{
    font-size: 200px;
    color: white;
    font-weight: bolder;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    transition: all 0.5s;
}

/* .bai3 span:hover{
    transform: rotate(15deg);
} */